body {
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 4em;
}

p {
    margin: 2em 0;
}

img {
    width: 40em;
    max-width: 90%;
}

/* Left justify project details */
#projects .project {
    text-align: left;
}

/* Style the work experience section to start a new line at every dash */
#experience {
    text-align: left;
}

#experience p {
    margin: 0.5em 0; /* Adjust margin for better spacing between lines */
}

#experience ul {
    list-style: none;
    padding: 0;
}

#experience li::before {
    content: "\2014\00a0"; /* Add an em dash and a non-breaking space before each list item */
}